[Desktop Entry]
Name=HTMLWallpaper
Name[ar]=HTML Wallpaper
Name[ca]=HTML Wallpaper
Name[ca@valencia]=HTML Wallpaper
Name[cs]=HTML Wallpaper
Name[da]=HTML Wallpaper
Name[de]=HTML Wallpaper
Name[en_GB]=HTML Wallpaper
Name[es]=HTML Wallpaper
Name[et]=HTML Wallpaper
Name[eu]=HTML Wallpaper
Name[fi]=HTML Wallpaper
Name[fr]=HTML Wallpaper
Name[gd]=HTML Wallpaper
Name[gl]=HTML Wallpaper
Name[hu]=HTML Wallpaper
Name[ia]=HTML Wallpaper
Name[id]=HTML Wallpaper
Name[it]=HTML Wallpaper
Name[ko]=HTML Wallpaper
Name[nb]=HTML Wallpaper
Name[nl]=HTML Wallpaper
Name[nn]=HTML Wallpaper
Name[pl]=HTML Wallpaper
Name[pt]=HTML Wallpaper
Name[pt_BR]=HTML Wallpaper
Name[ru]=HTML Wallpaper
Name[sk]=HTML Wallpaper
Name[sl]=HTML Wallpaper
Name[sr]=HTML Wallpaper
Name[sr@ijekavian]=HTML Wallpaper
Name[sr@ijekavianlatin]=HTML Wallpaper
Name[sr@latin]=HTML Wallpaper
Name[sv]=HTML Wallpaper
Name[tr]=HTML Wallpaper
Name[uk]=HTML Wallpaper
Name[x-test]=xxHTML Wallpaperxx
Name[zh_CN]=HTML Wallpaper
Name[zh_TW]=HTML Wallpaper
Comment=Allows you to have a HTML page as your KDE wallpaper

Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=Marcel Richter
X-KDE-PluginInfo-Email=Marcel-Richter-02@protonmail.com
X-KDE-PluginInfo-Name=de.unkn0wn.htmlwallpaper
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-Version=2.0
X-Plasma-MainScript=ui/main.qml
